@model TelefonRehberi.Web.Models.LoginVM
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_AdminMainView.cshtml";


}

<h2>ChangePassword</h2>

@if (ViewBag.NotFoundUser != null) {
    <div class="alert alert-danger">
        <p>@ViewBag.NotFoundUser</p>
    </div>
}

@if (ViewBag.NotSamePassword != null) {
    <div class="alert alert-danger not-same-pass-alert">
        <p>@ViewBag.NotSamePassword</p>
    </div>
}


<div class="alert alert-warning null-fields-error" style="display:none">
    <p></p>
</div>

@if (ViewBag.Success != null) {
    <div class="alert alert-success success-alert">
        <p>@ViewBag.Success</p>
    </div>
}

<div class="row">
    <div class="col-lg-offset-2 col-md-8">
        <br />
        <div class="" style="background-color: #ffffff; padding: 20px; border-radius: 20px; box-shadow: 0px 0px 5px;">
            @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form", area = "" })) {
                @Html.AntiForgeryToken()
                <h4>Reset Password </h4>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(m => m.username, "Username", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.username, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.newPassword, "New Password", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.newPassword, new { @class = "form-control txt-password1", value = "", placeholder = "New Password" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.confirmPassword, "Confirm Password", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.confirmPassword, new { @class = "form-control txt-password2", value = "", placeholder = "Confirm Password" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-success btn-reset-password" value="Reset Password" />
                    </div>
                </div>
            }

        </div>
    </div>
</div>

@section scripts{
    <script>
        $(".btn-reset-password").click(function (e) {
            
            if ($(".txt-password1").val() == "" || $(".txt-password2").val() == "") {
                e.preventDefault();
                $(".null-fields-error>p").text("Please fill the inputs");
                $(".null-fields-error").slideDown();
                setTimeout(function () {
                    $(".null-fields-error").slideUp();
                },2000);
            }  
        });

        if ($(".not-same-pass-alert>p").text() != "") {
            console.log($(".not-same-pass-alert>p").text());
            $(".not-same-pass-alert").slideDown();

            setTimeout(function () {
                $(".not-same-pass-alert").slideUp();
            }, 2000);
        }

        if ($(".success-alert>p").text() != "") {
            console.log($(".success-alert>p").text());
            $(".success-alert").slideDown();

            setTimeout(function () {
                $(".success-alert").slideUp();
            }, 2000);
        }

        //console.log($(".not-same-pass-alert>p").val());
        
        

    </script>

}